@model Uturn.Models.LoginInputModel

@{
    ViewData["Title"] = "Log in";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
}

<!-- BEGIN login -->
<div class="login">
    <!-- BEGIN login-content -->
    <div class="login-content">
        <a href="/" class="brand-logo" style="display: flex; justify-content: center; margin-bottom: 30px;">
            <img src="/img/uturn-logo.png" alt="" height="80">
        </a>
        <form id="account" method="post" asp-controller="Login" asp-action="Index">
            <h3 class="text-center">Sign In</h3>
            <div class="text-muted text-center mb-4">
                For your protection, please verify your identity.
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input asp-for="Email" class="form-control form-control-lg fs-15px" placeholder="username@address.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control form-control-lg fs-15px" value="" placeholder="Enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" asp-for="RememberMe" />
                    <label class="form-check-label fw-500" asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                </div>
            </div>
            <button type="submit" class="btn btn-theme btn-lg d-block w-100 fw-500 mb-3">Sign In</button>
        </form>
    </div>
    <!-- END login-content -->
</div>
<!-- END login -->
